---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=e571ae3c5f7c3421c8915a7eb2bcd2d6&limit=1&zip=90210,US
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"90210","name":"Beverly Hills","lat":34.0901,"lon":-118.4065,"country":"US"}'
  recorded_at: Mon, 29 Apr 2024 02:24:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=e571ae3c5f7c3421c8915a7eb2bcd2d6&exclude=minutely,hourly,daily&lat=34.0901&lon=-118.4065&units=imperial
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.0901,"lon":-118.4065,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1714357487,"sunrise":1714309601,"sunset":1714358107,"temp":64.87,"feels_like":64.11,"pressure":1010,"humidity":65,"dew_point":52.84,"uvi":0.16,"clouds":0,"visibility":10000,"wind_speed":8.05,"wind_deg":160,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]}}'
  recorded_at: Mon, 29 Apr 2024 02:24:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall/day_summary?appid=e571ae3c5f7c3421c8915a7eb2bcd2d6&date=2024-04-29&lat=34.0901&lon=-118.4065&units=imperial
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"lat":34.0901,"lon":-118.4065,"tz":"-07:00","date":"2024-04-29","units":"imperial","cloud_cover":{"afternoon":0.12},"humidity":{"afternoon":42.4},"precipitation":{"total":0.0},"temperature":{"min":59.15,"max":72.52,"afternoon":71.29,"night":62.31,"evening":70.1,"morning":59.15},"pressure":{"afternoon":1012.35},"wind":{"max":{"speed":9.18,"direction":224.78}}}'
  recorded_at: Mon, 29 Apr 2024 02:24:48 GMT
recorded_with: VCR 6.2.0
