---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=<APPID>&limit=1&zip=90210,US
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"90210","name":"Beverly Hills","lat":34.0901,"lon":-118.4065,"country":"US"}'
  recorded_at: Mon, 29 Apr 2024 03:18:59 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<APPID>&exclude=minutely,hourly,daily&lat=34.0901&lon=-118.4065&units=imperial
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.0901,"lon":-118.4065,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1714360739,"sunrise":1714309601,"sunset":1714358107,"temp":62.55,"feels_like":61.74,"pressure":1010,"humidity":69,"dew_point":52.25,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":6.91,"wind_deg":260,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]}}'
  recorded_at: Mon, 29 Apr 2024 03:18:59 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall/day_summary?appid=<APPID>&date=2024-04-29&lat=34.0901&lon=-118.4065&units=imperial
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"lat":34.0901,"lon":-118.4065,"tz":"-07:00","date":"2024-04-29","units":"imperial","cloud_cover":{"afternoon":0.12},"humidity":{"afternoon":42.4},"precipitation":{"total":0.0},"temperature":{"min":59.15,"max":72.52,"afternoon":71.29,"night":62.31,"evening":70.1,"morning":59.15},"pressure":{"afternoon":1012.35},"wind":{"max":{"speed":9.18,"direction":224.78}}}'
  recorded_at: Mon, 29 Apr 2024 03:19:00 GMT
recorded_with: VCR 6.2.0
