<h2>Get the forecast for a location</h2>

<%= form_with url: forecasts_path do |f| %>
  <div class='field'>
    <%= f.label :zip, 'Please provide a 5-digit zip code (USA only)' %>
    <br>
    <%= f.text_field :zip  %>
  </div>

  <br>

  <div class='actions'>
    <%= f.submit('Get Forecast') %>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('input[type="text"]').focus();
  });
</script>
